<!DOCTYPE html>
<html>
<head>
    <title>Edit Distance Demo</title>
</head>
<body>
    <h1>Welcome to Edit Distance Demonstration</h1>
    <hr>
    <!-- Form for submitting words -->
    <form method="post">
        <label>The first word:</label>
        <input type="text" name="word1" required>
        <label>The second word:</label>
        <input type="text" name="word2" required>
        <button type="submit">Submit the words</button>
    </form>
    <!-- Clear Fields Button (reset the form) -->
    <form method="get">
        <button type="submit">Clear all Fields</button>
    </form>

    <hr>

    <!-- Display the matrix if the words are submitted -->
    {% if matrix %}
        <h3>Matrix:</h3>
        <center>
            <pre>{{ matrix }}</pre>
        </center>
    {% endif %}

    {% if edit_dist is not none %}
        <label>Edit Distance: {{ edit_dist }}</label>
    {% endif %}

    {% if align is not none%}
        <br>
        <label>Alignment:</label>
            <pre>{{ align }}</pre>
    {% endif %}

</body>
</html>
